<!-- Seu código existente -->
<div class="centered-div">
    <div class="botao-direita">
        <button class="btn btn-editar" (click)="novo()">Novo</button>
        <button class="btn btn-editar" (click)="refreshGrid()">Atualizar</button>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Descricao</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dado of paginatedData">
                <td>{{ dado.id }}</td>
                <td>{{ dado.titulo }}</td>
                <td>{{ dado.descricao }}</td>
                <td>
                    <div class="botao-direita">
                        <button class="btn btn-editar" (click)="editar(dado.id)">Editar</button>
                        <button class="btn btn-excluir" (click)="excluir(dado.id)">Excluir</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <!-- Paginador -->
    <div class="paginator">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próximo</button>
    </div>
</div>
