<div class="centered-div">
    <div class="botao-direita">
        <button class="btn btn-editar" (click)="novo()">Novo</button>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dado of dados">
                <td>{{ dado.id }}</td>
                <td>{{ dado.nome }}</td>
                <td>{{ dado.valor | currency:'BRL' }}</td>
                <td>
                    <div class="botao-direita">
                        <button class="btn btn-editar" (click)="editar(dado.id)">Editar</button>
                        <button class="btn btn-excluir" (click)="excluir(dado.id)">Excluir</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>