<div class="login-container">
    <h2>Adicionar Nova Tarefa</h2>
    <form>
      <div class="form-group">
        <label for="titulo">Titulo:</label>
        <input type="text" id="titulo" name="username" [(ngModel)]="titulo" required>
      </div>
      <div class="form-group">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" [(ngModel)]="descricao" required>
      </div>
      <button class="btn btn-adicionar">Adicionar</button>
      <button class="btn btn-cancelar" mat-button mat-dialog-close>Cancelar</button>
    </form>
  </div>   
  